
.container{
    width: 100%;
    padding: 6rem 0;
    background-size: cover;
    align-content: center;
}
.row1{
    background-color: rgb(244, 244, 242);
}
img{
    height: 20px;
    
}
.checked{
    color: orange;
   
}
.input-area{
    width: 30%;
    margin: 5px;
}
.input-area1{
    width: 40%;
}
h2{
    text-align: center;
    margin: 20px;
}
.textarea{
    width: 100%;
}

   